.jeremy h1 {
  align-self: center;
}

.jeremy h2 {
  font-size: 2rem;
}

.jeremy h3 {
  align-self: center;
  font-size: 1rem;
}

.dialog {
  align-self: center;
  width: 40rem;
  max-width: 95vw;
}

em {
  color: var(--color-gray-400);
}
